<!DOCTYPE html>
<html lang="en">

<head>
    @* Partial view for login/logout on navbar *@
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partial view</title>
</head>

<body>

</body>

</html>