<!DOCTYPE html>
<html lang="en">

<head>
    @* View for displaying the list of followers and following users *@
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Displaying the list</title>
</head>

<body>

</body>

</html>